@import 'reset';
@import 'mixins';
@import 'variables';
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

// //background colors
// $main-bg-color: hsl(230, 100%, 99%);
// $card-bg-color: hsl(0, 0%, 100%);
// $CTA-bg-color: hsla(227, 35%, 25%, 1);
// $discount-bg-color: hsl(14, 92%, 95%);

// //text colors
// $main-text-color: hsla(233, 36%, 25%, 1);
// $sub-text-color: hsla(221, 10%, 58%, 1);
// $discount-text-color: hsl(15, 100%, 70%);
// $CTA-text-color: hsl(226, 100%, 87%);

// //slider colors
// $slider-bg-color: hsl(174, 86%, 45%);
// $slider-bar-color: hsl(174, 77%, 80%);
// $empty-slider-bar-color: hsl(224, 65%, 95%);

// //toggle colors
// $toggle-bg-color: hsl(223, 50%, 87%);

// //font family
// $main-font-family: Manrope, 'sans serif';


//beginnning of styling
body {
    font-family: $main-font-family;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

main {
    header {
        background-image: url("/images/pattern-circles.svg");
        background-repeat: no-repeat;
        background-position: center center;
        max-width: 540px;
        height: 200px;
        text-align: center;
        margin: 0;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        h1 {
            margin: 11px;
            font-weight: 700;
            font-size: calc(16px + 1vw);
            line-height: 38px;
            letter-spacing: 0.015em;
            color: #272C52;
        }

        h2 {
            font-weight: 700;
            font-size: 15px;
            line-height: 20px;
            color: #888F9E;
            @media(max-width: 540px){
                width: 60%;
            }
        }
    }

    .card {
        position: relative;
        display: grid;
        grid-template: repeat(4, auto) / repeat(2, 1fr);
        max-width: 540px;
        padding: 40px;
        height: auto;
        background-color: $card-bg-color;
        box-shadow: 0px 3px 20px 2px #CED7EC;
        border-radius: 9px;
        @media (max-width:540px){
            display: grid;
            grid-template-columns: 1fr;
            justify-content: stretch;
            justify-items: center;
            min-width: 90vw;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid red;

        }
        .pageviews{
            font-weight: 500;
            font-size: 14px;
            line-height: 135.1%;
            color: $sub-text-color;
            letter-spacing: 0.175em;
        }
        .month_price {
            position: absolute;
            top: 20px;
            right: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            @media(max-width: 540px){
                margin-bottom: 50px;
                position: relative;
            }
            #views {
                font-weight: 500;
                font-size: 14px;
                line-height: 135.1%;
                letter-spacing: 0.175em;
                color: #888F9E;
            }
            #price{
                margin-left: 40px;
                font-weight: 800;
                font-size: 40px;
                line-height: 55px;
                color: #2A325B;
                @media(max-width: 540px){
                    font-size: 32px;
                }
            }
            #price::after{
                position: relative;
                top: -8px;
                content: ' /month';
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.04em;
                color: #888F9E;
                @media(max-width: 540px){
                    font-size: 12px;
                }
            }
        }
        .slider_views{
            grid-column: 1 / -1;
            width: 100%;
            margin: 40px 0;
            @media(max-width: 540px){
                margin-bottom: 10px;
            }
            input[type='range']{
                @include input-style;

            }
            input[type="range"]::-webkit-slider-runnable-track{
                background-image: linear-gradient(45deg, #0ECDC3, hsl(224, 65%, 95%));
                background-size: 50% ;
                background-repeat: no-repeat;
                height: 8px;
                border-radius: 5px;

            }
            input[type="range"]::-moz-range-track{
                background-image: linear-gradient(#0ECDC3, hsl(224, 65%, 95%));
                background-size: 70% 100%;
                background-repeat: no-repeat;
                height: 8px;

            }
            input[type="range"]::-webkit-slider-thumb{
                -webkit-appearance: none;
                margin-top: -16px;
                background-image: url('/images/icon-slider.svg');
                background-repeat: no-repeat;
                background-position: center center;
                background-color: #0ECDC3;
                width: 40px;
                height: 40px;
                border-radius: 20px;

            }
            input[type="range"]::-moz-range-thumb{
                -webkit-appearance: none;
                margin-top: -16px;
                background-image: url('/images/icon-slider.svg');
                background-repeat: no-repeat;
                background-position: center center;
                background-color: #0ECDC3;
                width: 40px;
                height: 40px;
                border-radius: 20px;
                
            }
            input[type="range"]::-webkit-slider-thumb:hover{
                box-shadow: 0px 10px 12px #8EE8F2;
                border: 2px solid #25aca0;

            }
            input[type="range"]::-webkit-slider-thumb:focus{
                box-shadow: 0px 10px 12px #8EE8F2;
                border: 2px solid #25aca0;
                
            }
            input[type="range"]::-webkit-slider-thumb:active{
                box-shadow: 0px 10px 12px #8EE8F2;
                background-color: #25aca0;
            }
        }
        .toggle_section{
            grid-column: 1 / -1;
            margin-bottom: 70px;
            width: 100%;
            height: fit-content;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: flex-end;
            @media (max-width: 540px){
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
            p{
                margin: 0 10px;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                color: #888F9E;
                @media (max-width: 540px){
                   font-size: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0;
                }
            }
            @include toggle;
            #discount::after{
                content: ' percent';
                @media (max-width: 540px){
                    content: '';
                }
            }
            #discount{
                margin-left: -4px;
                padding: 1px 6px;
                font-weight: 700;
                font-size: 10px;
                line-height: 14px;
                border-radius: 7px;
                background-color: $discount-bg-color;
                color: $discount-text-color;
            }
        }
        .trial{
            width: fit-content;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-between;
            @media(max-width:540px){
                display: flex;
                align-items: center;
                justify-content:space-between;
            }
            .checklist{
                margin-bottom: 10px;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                color: #888F9E;

            }
            .checklist::before{
                content: url('/images/icon-check.svg');
                margin-right: 17px;
            }
        }
        .cta{
            width: fit-content;
            height: fit-content;
            margin-top: 20px;
            margin-left: 68px;
            background-color: $CTA-bg-color;
            padding: 12px 45px;
            border-radius: 22px;
            color: #fff;
            font-size: 12px;
            @media(max-width:540px){
                margin: 0;
                margin-top: 20px;
            }
        }
        .cta:hover{
            cursor: pointer;
        }
    }
}