@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  text-decoration: none;
  list-style: none;
}
body a, body button, body li {
  all: unset;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  box-sizing: border-box;
  font-family: Manrope, "sans serif";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

main header {
  background-image: url("../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 540px;
  height: 200px;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
main header h1 {
  margin: 11px;
  font-weight: 700;
  font-size: calc(16px + 1vw);
  line-height: 38px;
  letter-spacing: 0.015em;
  color: #272C52;
}
main header h2 {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #888F9E;
}
@media (max-width: 540px) {
  main header h2 {
    width: 60%;
  }
}
main .card {
  position: relative;
  display: grid;
  grid-template: repeat(4, auto)/repeat(2, 1fr);
  max-width: 540px;
  padding: 40px;
  height: auto;
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 0px 3px 20px 2px #CED7EC;
  border-radius: 9px;
}
@media (max-width: 540px) {
  main .card {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: stretch;
    justify-items: center;
    min-width: 90vw;
    margin: 0 auto;
    padding: 20px;
  }
}
main .card .pageviews {
  font-weight: 500;
  font-size: 14px;
  line-height: 135.1%;
  color: hsl(221deg, 10%, 58%);
  letter-spacing: 0.175em;
}
main .card .month_price {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 540px) {
  main .card .month_price {
    margin-bottom: 50px;
    position: relative;
  }
}
main .card .month_price #views {
  font-weight: 500;
  font-size: 14px;
  line-height: 135.1%;
  letter-spacing: 0.175em;
  color: #888F9E;
}
main .card .month_price #price {
  margin-left: 40px;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  color: #2A325B;
}
@media (max-width: 540px) {
  main .card .month_price #price {
    font-size: 32px;
  }
}
main .card .month_price #price::after {
  position: relative;
  top: -8px;
  content: " /month";
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #888F9E;
}
@media (max-width: 540px) {
  main .card .month_price #price::after {
    font-size: 12px;
  }
}
main .card .slider_views {
  grid-column: 1/-1;
  width: 100%;
  margin: 40px 0;
}
@media (max-width: 540px) {
  main .card .slider_views {
    margin-bottom: 10px;
  }
}
main .card .slider_views input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}
main .card .slider_views #views:hover {
  box-sizing: border-box;
  border: 1px solid rgb(253, 230, 253);
}
main .card .slider_views #views {
  background-image: linear-gradient(45deg, #0ECDC3 70%, hsl(177deg, 100%, 18%));
  background-size: 50%;
  background-repeat: no-repeat;
  height: 8px;
  border-radius: 5px;
}
main .card .slider_views input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -3px;
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #0ECDC3;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
main .card .slider_views input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  margin-top: -16px;
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #0ECDC3;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
main .card .slider_views input[type=range]::-webkit-slider-thumb:hover {
  box-shadow: 0px 10px 12px #8EE8F2;
  border: 2px solid #25aca0;
}
main .card .slider_views input[type=range]::-webkit-slider-thumb:focus {
  box-shadow: 0px 10px 12px #8EE8F2;
  border: 2px solid #25aca0;
}
main .card .slider_views input[type=range]::-webkit-slider-thumb:active {
  box-shadow: 0px 10px 12px #8EE8F2;
  background-color: #25aca0;
}
main .card .toggle_section {
  grid-column: 1/-1;
  margin-bottom: 70px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
@media (max-width: 540px) {
  main .card .toggle_section {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
main .card .toggle_section p {
  margin: 0 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #888F9E;
}
@media (max-width: 540px) {
  main .card .toggle_section p {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }
}
main .card .toggle_section #toggle.active {
  background-color: hsl(174deg, 86%, 45%);
}
main .card .toggle_section #toggle.active #circle {
  left: 23px;
}
main .card .toggle_section .active {
  background-color: hsl(174deg, 86%, 45%);
}
main .card .toggle_section #toggle {
  position: relative;
  width: 43px;
  height: 22px;
  border-radius: 11px;
  background-color: #C5D0E9;
  cursor: pointer;
  transition: ease-out 0.35s;
}
main .card .toggle_section #toggle #circle {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #fff;
  top: 4px;
  left: 4px;
  transition: ease-in 0.35s;
}
main .card .toggle_section #discount::after {
  content: " percent";
}
@media (max-width: 540px) {
  main .card .toggle_section #discount::after {
    content: "";
  }
}
main .card .toggle_section #discount {
  margin-left: -4px;
  padding: 1px 6px;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  border-radius: 7px;
  background-color: hsl(14deg, 92%, 95%);
  color: hsl(15deg, 100%, 70%);
}
main .card .trial {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 540px) {
  main .card .trial {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
main .card .trial .checklist {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #888F9E;
}
main .card .trial .checklist::before {
  content: url("../images/icon-check.svg");
  margin-right: 17px;
}
main .card .cta {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 20px;
  margin-left: 68px;
  background-color: hsl(227deg, 35%, 25%);
  padding: 12px 45px;
  border-radius: 22px;
  color: #fff;
  font-size: 12px;
}
@media (max-width: 540px) {
  main .card .cta {
    margin: 0;
    margin-top: 20px;
  }
}
main .card .cta:hover {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */